* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 18px;

  p {
    font-size: 18px;

  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 576px) {
  .container {
      max-width:540px
  }
}

@media (min-width: 768px) {
  .container {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .container {
      max-width:960px
  }
}

@media (min-width: 1200px) {
  .container {
      max-width:1140px
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}



#MainContainer p {
  font-size: 18px;
}

.header .site-logo-wrap .logo img {
  width: 60px;
}

.header.header-fixed .site-logo-wrap .logo img {
  width: 40px;
}

.header {
  .nav-link a {
    color: white;
  }
}

#HeroBanner {
  background-image: url(../images/hero.jpg);
  background-position: center;

  .hero-content {
    vertical-align: bottom;
    padding: 0 15px 301px 15px;
    color: white;
    background-color: rgba(10, 40, 60, 0);
    animation: 1s ease-in fade-out 0.4s forwards;
  }


  h1 {
    letter-spacing: .1em;
    opacity: 0;
    animation: 1s ease-out 1.2s fade-in forwards;
  }

  h2 {
    opacity: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: white;
    letter-spacing: .4em;
    animation: 0.8s ease-out 1.2s fade-in-2 forwards;
  }

}



@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-2 {
  from {
    opacity: 0;
    transform: translate3d(0, -8px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-out {
  from {
    background-color: rgba(10, 40, 60, 0);
  }
  to {
    background-color: rgba(10, 40, 60, 0.4);
  }
}


.about--right {

  &::before {
    display: none;
  }

  &::after {
    background-image: url(../images/valentina.jpg);
    background-position: top center;
  }
}

.about--left {
  &::before {
    display: none;

    @include mq($from: desktop) {
      background-image: url(../images/anna.jpg);
      background-position: top left -100px;
      display: block;
      left: 0;
    }
  }

  &::after {
    display: none;
  }

  .about-wrapper {
    @include mq($from: desktop) {
      margin-left: 50%;
      padding-left: 50px;
      padding-right: 0;
    }
  }
}


.apartment {
  &__info {
    font-size: 13px;
    font-weight: lighter;
    padding-top: 5px;
  }

  &__gallery {
    margin: 40px 0;
  }
}

.aa_medias {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.aa-media__media {
  margin-bottom: 20px;
  opacity: .75;
  width: 100%;

  @include mq($from: tablet) {
    margin-right: 3%;
    width: 47%;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
  }

  .video-container iframe, .video-container object, .video-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}


.aa-event {
  $block: &;
  align-items: center;
  background: rgba(0, 0, 0, .35);
  border: 2px solid white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: base-unit(3) 0;
  overflow: hidden;
  padding: 0 30px;
  position: relative;
  text-align: center;

  // @include mq($from: tablet) {
  //   margin: base-unit(3);
  //   flex-direction: row;
  //   text-align: left;
  // }

  &__date {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 22px;
    margin: base-unit(2) 0;

    // @include mq($from: tablet) {
    //   margin: 0;
    // }

  }

  &__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
  }

  &__hour {
    font-weight: bold;
  }

  &__content-header {
    @include mq($until: tablet) {
      margin-bottom: base-unit(2);
    }
  }

  &__content-sub-header {
    color: $red;
  }

  &__maps-link {
    margin-left: 8px;
    opacity: .65;
    position: absolute;
    right: 1px;
    top: 8px;
  }

  &__orchestra  {
    @include mq($until: tablet) {
      display: block;
    }

    &::before {
      @include mq($from: tablet) {
        content: ' | ';
      }
    }
  }

  &__content-wrp {
    font-size: 16px;
    flex: 1;
    padding: 20px 0 30px;
    transition: transform .3s;
    will-change: transform;
          @include mq($from: tablet) {
            margin-left: 40px;
          }
  }

  &__content {
  }


  &__where {
    padding-bottom: base-unit(1);
  }

  &__description {
    font-size: 12px;
    line-height: base-unit(2);

    p {
      margin-bottom: 0;
    }
  }

  &__content-more {
    margin-top: base-unit(3);
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__toggle-more {
    position: absolute;
    right: 0;
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
    color: $red;
    bottom: base-unit(1);
    padding: 0;
    margin-right: -3px;

    display: none;

    @include mq($from: tablet) {
      // display: block;
    }

    img {
      transition: transform .3s;
    }
  }

  &--more {
    #{$block}__content-wrp {
      transform: translateY(-100%);
    }

    #{$block}__toggle-more img {
      transform: rotate(180deg);
    }
  }
}

.events {
  background: url(../images/stairs.jpg) no-repeat 0 30% / cover;

  @include mq($from: desktop) {
    background-position: left calc(50vw - 490px) top -50px;
    background-size: auto 1000px;
    min-height: 600px;
  }
}

.aa-events__container {
  @include mq($from: desktop) {
    width: 50%;
  }
}


.aa-u-visually-hidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



@media (max-width: 767px) {
  .events {
      padding:  0;
  }
}


.apartment .nGY2 .nGY2Gallery {
  text-align: left !important;
}

.contact-us {
  .container {
    display: flex;
    flex-direction: column;

    @include mq($from: desktop) {
      flex-direction: row;
    }

  }
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  flex: 1;
  border: 1px solid #212529;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.contact-container {
  @include mq($from: desktop) {
    max-width: 60%;
    padding-right: 30px;
  }

  .form-wrap {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;

    @include mq($from: desktop) {
      padding-bottom: 0;
    }
  }
}


.contact-us .form-wrap label {
  z-index: 1;
}


.contact-us .submit-btn {
  text-align: left;
}
