{% extends '/views/base.html' %}
  <body {% block body_attributes %} {% endblock %}>

{% block body %}
 <section id="MainContainer">
  <!-- Header starts here -->
  <header class="header" id="Header">
      <nav class="main-navigation">
          <div class="container clearfix">
              <div class="site-logo-wrap">
                  <a class="logo" href="#"><img src="/static/images/logo.svg" alt="logo"></a>
              </div>
              <a href="javascript:void(0)" class="menu-trigger hidden-lg-up"><span>&nbsp;</span></a>
              <div class="main-menu hidden-md-down">
                  <ul class="menu-list">
                      <li class="nav-link"><a href="javascript:void(0)" data-target="#HeroBanner">{{_(doc.menu_home)}}</a></li>
                      <li class="nav-link"><a href="javascript:void(0)" data-target="#about">{{_(doc.menu_about)}}</a></li>
                      <li class="nav-link"><a href="javascript:void(0)" data-target="#apartment-muret">{{_(doc.menu_apartment_1)}}</a></li>
                      <li class="nav-link"><a href="javascript:void(0)" data-target="#apartment-eschirol">{{_(doc.menu_apartment_2)}}</a></li>
                      <li class="nav-link"><a href="javascript:void(0)" data-target="#contact-us">{{_(doc.menu_contact)}}</a></li>
                  </ul>
              </div>
          </div>
          <div class="mobile-menu hidden-lg-up">
              <ul class="mobile-menu-list">
                  <li class="nav-link"><a href="javascript:void(0)" data-target="#HeroBanner">{{_(doc.menu_home)}}</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" data-target="#about">{{_(doc.menu_about)}}</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" data-target="#apartment-muret">{{_(doc.menu_apartment_1)}}</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" data-target="#apartment-eschirol">{{_(doc.menu_apartment_2)}}</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" data-target="#contact-us">{{_(doc.menu_contact)}}</a></li>
              </ul>
          </div>
      </nav>
  </header>
  <!-- Header ends here -->
  <!-- Banner starts here -->
  <section id="HeroBanner">
      <div class="hero-content">
          <h1>{{_(doc.title)}}</h1>
          <h2>{{_(doc.sub_title)}}</h2>
      </div>
  </section>
  <section id="about" class="section">
      <div class="container">
          <div class="block-heading">
              <h2>{{_(doc.hero_title)}}</h2>
              <p>
                {{_(doc.hero_description)}}
              </p>
              <div id="nanogallery-hero" class="apartment__gallery">
              </div>
          </div>
      </div>
  </section>

  <!-- About Us section starts here -->
  <section id="apartment-muret" class="section apartment section--grey"
    itemscope
    itemtype="https://schema.org/Apartment"
    numberOfRooms="3"
    occupancy="5"
    numberOfBathroomsTotal="1"
    numberOfBedrooms="2"
    numberOfFullBathrooms="1"
  >

    <section
        class="aa-u-visually-hidden"
        itemscope
        itemtype="https://schema.org/Apartment">
      <span itemprop="name">{{_(doc.flat_1)}}</span>

      <span itemprop="numberOfRooms">3</span>
      <span itemprop="occupancy">5</span>
      <span itemprop="numberOfBathroomsTotal">1</span>
      <span itemprop="numberOfBedrooms">2</span>
      <span itemprop="numberOfFullBathrooms">1</span>

      <img itemprop="photo" src="{{ g.static('/source/images/apartment1/1.jpg').url.path }}" alt="Apartment" />

      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="postalCode">12021</span>
        <span itemprop="addressLocality">Chiappera</span>
        <span itemprop="addressRegion">Valle Maira - Piemonte</span>,
        <span itemprop="addressCountry">Italia</span>
      </div>

      <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="44.492786"/>
        <meta itemprop="longitude" content="6.925535"/>
      </div>
    </section>


      <div class="container">
        <h2>
          {{_(doc.flat_1)}}
          <div class="apartment__info">
            {{_(doc.flat_1_summary)}}
          </div>
        </h2>
        <div class="apartment__gallery">
          <div id="nanogallery-flat1" class="apartment__gallery">
          </div>
          <div class="apartment__content">

              {{_(doc.flat_1_desc|safe)}}
          </div>
        </div>
      </div>
  </section>
  <section id="apartment-eschirol" class="section apartment apartment">
      <section
          class="aa-u-visually-hidden"
          itemscope
          itemtype="https://schema.org/Apartment">
        <span itemprop="name">{{_(doc.flat_2)}}</span>

        <span itemprop="numberOfRooms">1</span>
        <span itemprop="occupancy">5</span>
        <span itemprop="numberOfBathroomsTotal">1</span>
        <span itemprop="numberOfBedrooms">1</span>
        <span itemprop="numberOfFullBathrooms">1</span>

        <img itemprop="photo" src="{{ g.static('/source/images/apartment2/1.jpg').url.path }}" alt="Apartment" />

        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="postalCode">12021</span>
          <span itemprop="addressLocality">Chiappera</span>
          <span itemprop="addressRegion">Valle Maira - Piemonte</span>,
          <span itemprop="addressCountry">Italia</span>
        </div>

        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
          <meta itemprop="latitude" content="44.492786"/>
          <meta itemprop="longitude" content="6.925535"/>
        </div>
    </section>

    <div class="container">
      <h2>
        {{_(doc.flat_2)}}
        <div class="apartment__info">
          {{_(doc.flat_2_summary)}}
        </div>
      </h2>
      <div class="apartment__gallery">
        <div id="nanogallery-flat2" class="apartment__gallery">
        </div>
        <div class="apartment__content">

            {{_(doc.flat_2_desc|safe)}}
        </div>
      </div>
    </div>
</section>



  <section id="contact-us" class="section contact-us section--grey">
      <div class="container">
        <div class="contact-container">
          <h2>
            {{_(doc.section_contact_title)}}
          </h2>
          <p class="add-title">{{_(doc.section_contact_details)}}</p>
          <p>{{_(doc.section_contact_text)}}</p>
          <div class="form-wrap">
            <p class="add-title">{{_(doc.section_contact_send_message)}}</p>
            <form action="https://formspree.io/annarpa93@gmail.com" method="POST">

                <div class="fname floating-label">
                    <input type="text" placeholder=" " class="floating-input" name="name" id="full-name-field" />
                    <label for="full-name-field">{{_(doc.your_name)}}</label>
                </div>
                <div class="email floating-label">
                    <input type="email" placeholder=" " class="floating-input" name="_replyto" id="mail-field" />
                    <label for="mail-field">{{_(doc.your_mail)}}</label>
                </div>

                <div class="user-msg floating-label">
                    <textarea class="floating-input" placeholder=" " name="message" id="user-msg-field"></textarea>
                    <label for="user-msg-field" class="msg-label">{{_(doc.your_message)}}</label>
                </div>
                <div class="submit-btn">
                    <button type="submit">{{_(doc.send)}}</button>
                </div>
            </form>
        </div>
      </div>
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1423.0461139447123!2d6.924410658305162!3d44.49277699477533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDTCsDI5JzM0LjAiTiA2wrA1NSczMS44IkU!5e0!3m2!1sen!2suk!4v1591447336476!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </section>

</section>
{% endblock %}
